# You can find more information about this file on the symfony website:
# http://www.symfony-project.org/reference/1_4/en/10-Routing

# default rules
b_menu:
  url:      /blog/menu/:tag.html
  class:    sfDoctrineRoute
  param:    { module: ViewPost, action: menu }
  options:  { model: Post, type: object }
register_success:
  url:   /blog/register_success
  param: { module: Register, action: success }
  
register:
  url:   /blog/register
  param: { module: Register, action: index }

comment:
  class: sfDoctrineRouteCollection
  options:
    model:                Comment
    module:               comment
    prefix_path:          /comment
    column:               id
    with_wildcard_routes: true
b_post:
  url:      /blog/ver_post/:slug.html
  class:    sfDoctrineRoute
  param:    { module: ViewPost, action: show }
  options:  { model: Post, type: object }
sf_guard_signin:
  url:   /blog/login
  param: { module: sfGuardAuth, action: signin }

sf_guard_signout:
  url:   /blog/logout
  param: { module: sfGuardAuth, action: signout }

sf_guard_password:
  url:   /blog/request_password
  param: { module: sfGuardAuth, action: password }

homepage:
  url:   /blog/
  param: { module: ViewPost, action: index }

# generic rules
# please, remove them by adding more specific rules
default_index:
  url:   /blog/:module
  param: { action: index }

default:
  url:   /blog/:module/:action/*
