@charset "utf-8";
/* CSS Document */
* {
    padding:0px;
    margin:0px;	
}

body {
    background: url(../images/bg.jpg) top center repeat-x #b9b9b9;


}
#contenedor_blog {
    width:100%;
    float: left;
}
#blog {
    width:975px;
    margin:0 auto;
    height: auto;

}
#logo {
    width:229px;
    height:53px;
    float:left;
    background:url(../images/shimano.png) 5px 10px no-repeat;
    margin:0px 0px 42px 0px;
}
#titulo {
    width:500px;
    height:53px;
    float:left;
}
#nav {
    width:975px;
    height:27px;
    float:left;
    background:url(../images/header_05.png);
}
.separador {
    width:975px;
    height:36px;
    float:left;	

}
#seccion_a {
    width:477px;
    height:auto;
    float:left;
    margin: 0  0 0 0;
    padding: 0 24px 0 0;
}

#comment-new {
    height:auto;
    float:left;
    margin: 0 auto;
}
#contenido_a {
    width:477px;
    height:340px;
    float:left;
    margin: 0px 0px 59px 0px;
    padding: 0 24px 0 0;

}
#contenido_a _interior{
    width:477px;
    float:left;
    margin: 0px 0px 59px 0px;
    padding: 0 24px 0 0;

}
#contenido_a_galerias {
    width:477px;
    height:auto;
    float:left;
    margin: 0px 0px 20px 0px;
    padding: 0 24px 20px 0;

}

#seccion_b {
    width:474px;
    height:404px;
    float:left;


}
#banners {
    width:474px;
    height:306px;
    float:right;
    margin: 20px 0px 0px 0px;

}

h1.titulo_seccion, h1.titulo_seccion a {
    font: normal 20px Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    width:auto;
    height:22px;
    margin: 0px 0px 12px 0px;
    display: block;
    color:#575858;
    float: left;
    text-decoration: none;
}
h2.subtitulos_fotos {
    font: normal 15px Arial, Helvetica, sans-serif;
    width:477px;
    height:auto;
    margin: 10px 0px 5px 0px;
    color: #09C;
    float: left;

}
p.descripcion_foto {
    font: normal 13px Arial, Helvetica, sans-serif;
    width:477px;
    height:auto;
    margin: 0px 0px 5px 0px;
    display: block;
    color:#575858;
    float: left;

}
#foto_seccion {
    width:477px;
    height:204px;
    float:left;	

}

#fotos_galerias {
    width:477px;
    height:auto;
    float:left;

}

#btn_seguir {
    width:116px;
    height:30px;
    float:left;
    background:url(../images/btn_seguir_17.png);
}
a #btn_seguir{
    background:url(../images/btn_seguir_17.png);
}
a:hover #btn_seguir {
    background:url(../images/btn_seguir_17_over.png);
}

#banner_blog {
    width:467px;
    height:84px;
    float:left;
    margin: 5px 0px 10px 0px;
}
#seccion_archivos {
    width:130px;
    height:auto;
    float:left;

}
#seccion_post_azar {
    width:320px;
    height:auto;
    float:right;

}
#seccion_b #seccion_archivos ul {
    width:130px;
    height:auto;
    float:left;	 
}
#seccion_b #seccion_archivos ul li {
    width:120px;
    height:auto;
    float:left;
    list-style:none;
    border-bottom: solid 1px #999;
    margin-top:5px;
    padding: 0px 0px 7px 0px;
}
#seccion_b #seccion_archivos ul li a {
    font: normal 11px Arial, Helvetica, sans-serif;
    color:#666;
    text-decoration:none;
}
#seccion_b #seccion_archivos ul li a:hover {
    color:#333;

}
#seccion_b #seccion_post_azar ul {
    width:auto;
    height:auto;
    float:left;
}
#seccion_b #seccion_post_azar ul li {
    width:300px;
    height:auto;
    float:left;
    list-style:none;
    border-bottom: solid 1px #999;
    margin-top:5px;
    padding: 0px 0px 7px 0px;
}
#seccion_b #seccion_post_azar ul li a {
    font: normal 11px Arial, Helvetica, sans-serif;
    color:#666;
    text-decoration:none;
}
#seccion_b #seccion_post_azar ul li a:hover {
    color:#333;
}
#btn_galeria {
    width:116px;
    height:30px;
    float:left;
    margin: 10px 0px 0px 0px;
    background:url(../images/btn_seguir_17.png);
}
a #btn_galeria{
    background:url(../images/btn_galeria_17.png);
}
a:hover #btn_galeria {
    background:url(../images/btn_galeria_17_over.png);
    float: left;
}
#foto_galeria{
    width:80px;
    height:80px;
    float:left;
    margin: 0px 15px 21px 0px;

}
ul.botonera {
    width:700px;
    height:27px;
    float:left;
    margin: 0px 0px 0px 10px;
}
#blog #nav .botonera li {
    width:auto;
    height:20px;
    float:left;
    list-style:none;
    padding:3px 17px 0px 10px;
    background:url(../images/sep.png) no-repeat  right 8px;
}
#blog #nav .botonera li a {
    font:normal 11px Arial, Helvetica, sans-serif;
    color: #09F;
    text-decoration:none;

}
#blog #nav .botonera li a:hover {
    color:#036;


}
#titulo h2 {
    font-weight: normal;
    text-transform: uppercase;
    color: #CCCCCC;
    padding: 15px 0 0 15px;
    font: normal 30px "Arial Narrow", Helvetica, Arial, sans-serif;
}/*
form {
	float: left;
	height: auto;
	width: 400px;
	margin: 20px 0 0 0;
}*/
.campo {
    float: left;
    height: auto;
    width: 120px;
    padding: 0 0 5px 10px;
    font: normal 11px arial, helvetica, sans-serif;
    color: #666;
}
.inputs {
    float: left;
    height: auto;
    width: 220px;
    font:normal 11px Arial, Helvetica, sans-serif;
    color:#666666;
    margin: 0 0 5px 0;
    padding: 2px;
}
.enviar {
    margin: 10px 0 0 130px;
    float: left;
    height: auto;
    width: 100px;
}
.resultados {
    float: left;
    height: auto;
    width: 480px;
    margin: 15px 0 0 0;
}
.topic {
    float: left;
    height: auto;
    width: 480px;
    padding: 0 0 10px 0;
    border-bottom: 1px dotted #666;
    margin: 0 0 15px 0;
}
p {
    color: #333333;
    font: normal 11px Arial, Helvetica, sans-serif;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    font: bold 16px normal 11px Arial, Helvetica, sans-serif;
    color: #00ADEF;
}
.topic a {
    color: #00ADEF;
    text-decoration: none;
}
.topic a:hover {
    color: #333;
    text-decoration: none;
}
.buscador-input {
    font: normal 11px Arial, Helvetica, sans-serif;
    border: 1px solid #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin: 5px 0 0 0;
    width: 150px;
    float: left;
}

#buscador label {
    font: normal 11px Arial, Helvetica, sans-serif;
    color: #09F;
    text-transform: uppercase;
    float: left;
    padding: 7px 0 0 0;
}
.btn-enviar {
    float: left;
    width: 15px;
    padding: 8px 0 0 10px;
}

.error{
    background: url("../images/error.png") no-repeat scroll 0 0 #FFCCCC;
    border: 1px solid #FF0000;
    border-radius: 5px 5px 5px 5px;
    color: #000000;
    float: left;
    font-family: arial;
    font-size: 10px;
    font-style: normal;
    font-weight: normal;
    margin: 3px 0;
    padding: 10px 8px 7px 27px;
    width: 97%;
}